flow.json
[
    {
        "id": "e46b8b77b03c1bf5",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9efa3a513ce6318f",
        "type": "tab",
        "label": "Flow 7",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c494c6524e01bab9",
        "type": "inject",
        "z": "e46b8b77b03c1bf5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "c921d25ff45ffc38"
            ]
        ]
    },
    {
        "id": "c921d25ff45ffc38",
        "type": "debug",
        "z": "e46b8b77b03c1bf5",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 120,
        "wires": []
    },
    {
        "id": "b560d262ab06343f",
        "type": "function",
        "z": "e46b8b77b03c1bf5",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 420,
        "wires": [
            [
                "1db196e745440b13"
            ]
        ]
    },
    {
        "id": "a5f16506d29dcb60",
        "type": "function",
        "z": "e46b8b77b03c1bf5",
        "name": "function 2",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 240,
        "wires": [
            [
                "b560d262ab06343f"
            ]
        ]
    },
    {
        "id": "1db196e745440b13",
        "type": "change",
        "z": "e46b8b77b03c1bf5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "b0d8f8baee1b076e",
        "type": "rpi-gpio in",
        "z": "e46b8b77b03c1bf5",
        "name": "",
        "pin": "",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 270,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "5438db2fc86e43f2",
        "type": "ui_text",
        "z": "9efa3a513ce6318f",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 570,
        "y": 200,
        "wires": []
    },
    {
        "id": "b8c7e0ab518721c2",
        "type": "ui_colour_picker",
        "z": "9efa3a513ce6318f",
        "name": "",
        "label": "",
        "format": "hex",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 310,
        "y": 140,
        "wires": [
            [
                "5438db2fc86e43f2"
            ]
        ]
    },
    {
        "id": "011b738e8e8c7cd2",
        "type": "ui_chart",
        "z": "9efa3a513ce6318f",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1F77B4",
            "#AEC7E8",
            "#FF7F0E",
            "#2CA02C",
            "#98DF8A",
            "#D62728",
            "#FF9896",
            "#9467BD",
            "#C5B0D5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 190,
        "y": 280,
        "wires": [
            [
                "b8c7e0ab518721c2"
            ]
        ]
    },
    {
        "id": "9ec20b5b33b56be8",
        "type": "ui_ui_control",
        "z": "9efa3a513ce6318f",
        "name": "",
        "events": "all",
        "x": 120,
        "y": 440,
        "wires": [
            [
                "011b738e8e8c7cd2"
            ]
        ]
    }
]